name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        neovim_version: [stable, nightly]

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Setup Neovim
        uses: rhysd/action-setup-vim@19e3dd31a84dbc2c5445d65e9b363f616cab96c1 # v1.6.0
        with:
          neovim: true
          version: ${{ matrix.neovim_version }}

      - name: Install dependencies
        run: |
          mkdir -p ~/.local/share/nvim/site/pack/deps/start
          git clone --depth=1 https://github.com/echasnovski/mini.nvim ~/.local/share/nvim/site/pack/deps/start/mini.nvim
          git clone --depth=1 https://github.com/nvim-treesitter/nvim-treesitter ~/.local/share/nvim/site/pack/deps/start/nvim-treesitter

      - name: Run tests
        run: |
          nvim --headless -l scripts/minitest.lua
